---
title: Welcome to Middleman Foundation
---

.row
  .eight.columns
    %h3 The Grid
    / Grid Example
    .row
      .twelve.columns
        .panel
          %p This is a twelve column section in a row. Each of these includes a div.panel element so you can see where the columns are - it is not required at all for the grid.
    .row
      .six.columns
        .panel
          %p Six columns
      .six.columns
        .panel
          %p Six columns
    .row
      .four.columns
        .panel
          %p Four columns
      .four.columns
        .panel
          %p Four columns
      .four.columns
        .panel
          %p Four columns
    %h3 Tabs
    %dl.tabs
      %dd.active
        %a{:href => "#simple1"} Simple Tab 1
      %dd
        %a{:href => "#simple2"} Simple Tab 2
      %dd
        %a{:href => "#simple3"} Simple Tab 3
    %ul.tabs-content
      %li#simple1Tab.active This is simple tab 1's content. Pretty neat, huh?
      %li#simple2Tab This is simple tab 2's content. Now you see it!
      %li#simple3Tab This is simple tab 3's content. It's, you know...okay.
    %h3 Buttons
    .row
      .six.columns
        %p
          %a.small.button{:href => "#"} Small Button
        %p
          %a.button{:href => "#"} Medium Button
        %p
          %a.large.button{:href => "#"} Large Button
      .six.columns
        %p
          %a.small.alert.button{:href => "#"} Small Alert Button
        %p
          %a.success.button{:href => "#"} Medium Success Button
        %p
          %a.large.secondary.button{:href => "#"} Large Secondary Button
  .four.columns
    %h4 Getting Started
    %p We're stoked you want to try Foundation! To get going, this file (index.html) includes some basic styles you can modify, play around with, or totally destroy to get going.
    %p 
      If you have suggestions for the Middleman implementation, let me know via 
      %a{:href => "http://twitter.com/vocino"} @Vocino
      on Twitter.
    %h4 Other Resources
    %p Once you've exhausted the fun in this document, you should check out:
    %ul.disc
      %li
        %a{:href => "http://foundation.zurb.com/docs"} Foundation Documentation
        %br
        Everything you need to know about using the framework.
      %li
        %a{:href => "http://github.com/zurb/foundation"} Foundation on Github
        %br
        Latest code, issue reports, feature requests and more.
      %li
        %a{:href => "http://twitter.com/foundationzurb"} @foundationzurb
        %br
        Ping us on Twitter if you have questions. If you build something with this we'd love to see it (and send you a totally boss sticker).
